.hoverContent {
    display: none;
    top: 0px;
    right: -295px;
    position: absolute;
    background: rgba(27, 40, 48, .9);
    border-radius: 4px;
    padding: 12px;
    z-index: 999;
    word-break: break-all;
    font-size: 12px;
    text-align: left;
    width: 300px;
    line-height: 20px;
    color: #EBF1F4;
    font-family: "Microsoft Yahei", sans-serif;
}

.hoverContent::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 7px solid rgba(27, 40, 48, .9);
    border-left: none;
    position: absolute;
    left: -7px;
    bottom: 51%;
}

/*商品列表部分*/
/*鼠标浮在商品上时的状态*/
.goods-item:hover .hoverContent{
    display: block;
}

/*当电脑屏幕大于1790px时每个商品显示的div大小*/
@media screen and (min-width: 1790px){
    /* 图片比例 */
    .goods-content img {
        width: 240px;
        height: 240px;
    }
    .goods-content {
        width: 300px;
        height: 460px;
    }
    .goods-content div {
        width: 293px;
        height: 460px;
    }

    .divOverflow {
        max-width: 293px;
        max-height: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 293px;
        height: 450px;
    }
}

/*当电脑屏幕大小在989px和1790px之间时每个商品显示的div大小*/
@media screen and (min-width: 1366px) and (max-width: 1790px){
    /* 图片比例 */
    .goods-content img {
        width: 200px;
        height: 200px;
    }
    .goods-content {
        width: 214px;
        height: 410px;
    }
    .goods-content div {
        width: 214px;
        height: 410px;
    }

    .divOverflow {
        max-width: 202px;
        max-height: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 202px;
        height: 400px;
    }
}
/*
.contentImg {
    width: 240px;
    height: 240px;
}*/
