/*导航栏*/
.myNav {
    height: 80px;
    background-color: #66afe9;
    margin-bottom:20px;
}
.navLogo {
    height: 50px;
    text-align: center;
}
.logo {
    font-size:35px;
    font-style: oblique;
    font-weight: bolder;
    padding: 15px;
    color: white
}
.search {
    padding-top: 28px;
}

/*商品列表部分*/
/*鼠标浮在商品上时的状态*/
.goods-content:hover {
    border: #66afe9 solid;
}

/*分页部分*/
.page_jump {
    display: inline-block;
    margin-right: 0;
}
