body {
    font-size: 14px;
    background-color: #fff;
    font-family: "微软雅黑", sans-serif;
}
a {
    color: #888;
}
a:hover {
    color: #ff6255;
}
/*header*/
.head-top{
    height: 30px;
    line-height: 30px;
    color: #666;
    background: #f5f5f5;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.goods-content:hover {
    border: #66afe9 solid;
}
/*main*/
/*.goods-list {
    width: 1200px;
}
.goods-list .goods-item {
    width: 228px;
    height:363px;
    float: left;
    margin-right: 12.5px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 1px 2px 5px 2px rgba(136, 136, 136, 0.21);
}

!*一行只显示5个商品*!
.goods-list .goods-item:nth-of-type(5n+5) {
    margin-right: 0;
}

.goods-list .goods-item .goods-item-content {
    height:363px;
}
!*图片相关*!
.goods-item-content .goods-img {
    width: 228px;
    height: 190px;
    position: relative;
}
.goods-item-content .goods-img img {
    width: 228px;
    height: 190px;
    vertical-align: middle;
}*/

/*分页部分*/
.page_jump {
    display: inline-block;
    margin-right: 0;
}
